    body {
        font-family: Varela Round;
    }

/*  Helper Styles */
    .p-1r {
        padding: 1rem;
    }

    .plr-02 {
        padding: 0 2rem;
    }

    .plt-09 {
        padding: 0.9rem 0 0 0.9rem;
    }

    .pl-09 {
        padding-left: .9rem;
    }

    .br-t4 {
        border-radius: 4px 0 0;
    }

    .br-tr4 {
        border-radius: 0 4px 0 0;
    }

    .br-8 {
        border-radius: 8px;
    }


    /* Card Styles */
    .card-el {
        background: #fff;
        color: #34495e;
        margin: .5rem;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

    .text-center {
        text-align: center;
    }

    .card-area {
        display: flex;
    }

    .card-image {
        max-height: 150px;
        width: 50%;
    }

    .card-image img {
        max-height: 100%;
        display: block;
        max-width: 100%;
        height: auto;
    }

    .card-el-content {
        width: 100%;
    }

    .card-heading {
        display: flex;
        justify-content: space-between;
    }

    .heading-text {
        font-size: 12px;
        font-weight: bold;
    }

    .main-text {
        padding-top: .4rem;
        padding-bottom: .4rem;
        font-size: 12px;
    }

    .card-rating {
        box-sizing: content-box;
        background: #95a5a6;
        padding: .2rem;
        color: #333;
        font-size: 12px;
        max-height: 16px;
        width: 80px;
    }

    .card-el-footer {
        padding: .5rem .4rem;
        font-size: 12px;
        background: #6c757d;
        color: #fff;
        border-radius: 0 0 5px 5px;
    }
